@charset "utf-8";

@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/bebas-webfont.eot');
    src: url('../fonts/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas-webfont.ttf') format('truetype'),
         url('../fonts/bebas-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* First page Starowislna / Plac Dominikanski */
.firstNavi {
  background: url(../images/mainBack.png);
  background-size: cover;
  height: 100vh;
}

.mainLogo {
  margin-top: 15px;
}

.naviItem {
  height: 100px;
  background: rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: center;
}

.chooseRest {
  margin-top: 150px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.rakowicka {
  border-radius: 25px;
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  font-weight: 900;
  color: white;
  font-size: 30px;
  opacity: 0.8;
}

.rakowicka:hover {
  color: rgb(255, 255, 255);
}

.rakowicka-img {
  border-radius: 10px;
  max-width: 400px;
}

.rakowicka-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 25px 45px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 30px;
  position: absolute;
  top: 33%;
  left: 20%;
  background: rgba(255, 0, 179, 0.274);
}

.rakowicka-text:hover {
  color: rgb(0, 0, 0) !important;
  background: white;
}

.plac {
  border-radius: 25px;
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  font-weight: 900;
  color: white;
  font-size: 30px;
  opacity: 0.8;
}

.plac:hover {
  color: white;
}

.plac-img {
  border-radius: 10px;
  max-width: 400px;
}

.plac-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 30px;
  position: absolute;
  top: 33%;
  left: 15%;
  background: rgba(255, 0, 179, 0.274);
}

.plac-text:hover {
  color: rgb(0, 0, 0) !important;
  background: white;
}

.headingMenuTitle {
  word-spacing: 10px;
}

@media screen and (max-width: 829px) { 
  .chooseRest {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) { 
  .plac-img, .rakowicka-img {
    max-width: 350px;
  }
  
  .plac-text {
    left: 8%;
  }
  
  .rakowicka-text {
    left: 17%;
  }
}

@media screen and (max-width: 345px) { 
  .plac-img, .rakowicka-img {
    max-width: 300px;
  }

  .plac-text, .rakowicka-text {
    padding: 10px;
  }

  .rakowicka-text {
    left: 23%;
  }
}

/* Main page */
.make-order {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: center;
}

.pysznepl, .ubereats, .glovo {
  background: none;
  border: none;
}

.pysznepl-img, .ubereats-img, .glovo-img {
  width: 180px;
  margin: 25px;
}

/*General Styling*/
body{
	padding:0;
	margin:0;
	color:#111111;
	position: relative;
	font-family: 'open_sansregular';
	overflow-x:hidden;
}
body,html{
	height:100%;
	width:100%;
}
ol, ul{
	margin:0;
	padding:0;
	list-style:none;
}
a, a:focus{
	color: inherit;
}
a, a:hover, a:focus{
	outline:none;
	text-decoration:none;
	color:inherit;
}
input{
	background:inherit;
	border:none;
	height:inherit;
	width:inherit;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
h1{
	 font-family: 'BebasRegular';
	 font-size:54px;
	 color:#fff;
}
h2{
	font-family: 'BebasRegular';
	font-size:32px;
}

h3{
	font-size:20px;
}
h4{
	font-size:18px;
}
p{
	font-size:14px;
}
/*Placeholders*/
::-webkit-input-placeholder{
   color:#606060;
	font-family: 'open_sansregular';
}

:-moz-placeholder { /* Firefox 18- */
   color:#606060;
	font-family: 'open_sansregular';  
}
::-moz-placeholder {  /* Firefox 19+ */
   color:#606060; 
	font-family: 'open_sansregular'; 
}
:-ms-input-placeholder {  
   color:#606060;
	font-family: 'open_sansregular';  
}
textarea::-webkit-input-placeholder {
   color:#606060;
	font-family: 'open_sansregular';
}
 
textarea:-moz-placeholder {
   color:#606060;
	font-family: 'open_sansregular';  
}
 
textarea::-moz-placeholder {
   color:#606060;
	font-family: 'open_sansregular'; 
}
 
textarea:-ms-input-placeholder {  
   color:#606060;
	font-family: 'open_sansregular';  
}
/***   share common font family   ***/
.btn-common, .btn-common-white, #page_header .page_title h2.title, form.callus .btn-submit,
.footer_column h4, .newsletter .btn-submit, .btn-common, .widget h3, .red-btn, .procedure .procedure_content ul.research li{
	font-family: 'BebasRegular';
}
h3, #welcome ul.welcome_list li, .service_wrapper .items > li > a,
.procedure_content .items > li > a, .form-container form button{
   font-family: 'open_sanssemibold';
}
.padding{
	padding-bottom:100px;
	padding-top:100px;
}
.padding-top{
	padding-top:100px;
}
.padding-bottom{
	padding-bottom:100px;
}
.padding-half{
	padding-bottom:50px;
	padding-top:50px;
}
.no-margin{
	margin:0 !important;
}
.heading_space{
	margin-bottom:50px;
}
.half_space{
	margin-bottom:25px;
}
.heading_top{
	margin-top:25px;
}
.top40{
	margin-top:50px;
}
.bg_grey{
	background-color:#f6f6f6;
}
.color{
	color:#660761;
	font-family:'BebasRegular' !important;
	}
.small_title {
	font-size:40px;
	line-height:72px;
	}	
	
.bg_bistro{
	background-color:#660761;
}
.bg_black{
	background-color:#4e4e4e;
}
.heading{
	border-bottom:2px solid #660761;
	padding-bottom:10px;
	display:inline-block;
}
hr{
	border-color:#b2b2b2;
	margin:-1px 0 0;
}
.dark{
	background:#191919;
}
.bg_bistro .heading{
	border-bottom:2px solid #fff;
}
.bg_bistro hr{
	border-color:#fff;
}
.bg_bistro .copyright{
	border-color:#fff;
}
.btn-common, .red-btn, .btn-common-whit, .orange-btn, .btn-common-white{
	border-radius:30px;
	line-height:1;
	font-size: 15px;
	display: inline-block;
}
.btn-common, .red-btn, .orange-btn, .btn-common-white{
  text-transform: capitalize;
}
.btn-common, .red-btn, .orange-btn, .btn-common-white, .btn-black{
  color: #fff;
}
.btn-common{
  background: #660761;
  padding:12px 30px;
  letter-spacing:0.5px;
}
.btn-common:hover, .btn-common:focus{
	background: #000;
	color:#fff;	
}
.btn-common-white{
  background: #660761;
  padding:12px 30px;
  letter-spacing:0.5px;
}
.btn-common-white:hover, .btn-common-white:focus{
	background: #fff;
	color: #660761;	
}
.btn-white {
	background: #fff;
	color:#000;
}
.btn-white:hover {
	background: #660761;
	color:#fff;
}	
.btn-black {
	background: #000;
	color:#fff;
}
.btn-black:hover, .btn-black:focus{background: #660761;}	
.btn-orange {background: #660761;}
.btn-orange:hover, .btn-black:focus{
	background: #000;
	color:#fff;
}
.red-btn{background: #660761;}
.red-btn:hover, .red-btn:focus{ color:#fff;}
.btn-readmore{
	color:#121212;
	font-size:16px;
	display:inline-block;
}
/*for hover button*/
.button3{
  color:#fff;
  padding:12px 30px;
  display:inline-block;
}
.bg_bistro	.button3:hover, .bg_bistro .button3:focus{
	background:#111111;
}

/* wigdet */
ul.menu_widget{ margin-bottom:15px; }
ul.menu_widget li{ 
	font-size:16px;
	color:#fff;
	padding:10px 10px;
	background-color: #54005c;
	line-height:18px;
}
ul.menu_widget li:nth-child(2n+2){
	background:rgba(226, 81, 17, 0);
	color:#000000;
}
ul.menu_widget li > span{float:right;}
ul.tags{}
ul.tags li {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 1px;
}
ul.tags li a{
	display:block;
	padding:12px 20px;
	color:#111111;
	border:1px solid #c0c0c0;
}
ul.tags li a:hover, ul.tags li a:focus{
	background:#660761;
	border:1px solid #660761;
	color:#fff;
}
ul.social_icon{}
ul.social_icon li {
    display: inline-block;
}
ul.social_icon li a {
  display: block;
  border-radius:50%;
  height:28px;
  width:28px;
  color:#fff;
  text-align:center;
  position: relative;
  text-decoration: none;
}

ul.widget_links{}
ul.widget_links li{ display:inline-block; margin-bottom:10px; }

ul.widget_links li a{
	font-size:14px;
}
ul.widget_links li a:before{
	content:"\f178";	
	font-family:fontawesome;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	font-size:9px;
}
ul.widget_links li a:hover, ul.widget_links li a:focus, ul.widget_links li.active a{
	color:#660761;
}
.bg_bistro ul.widget_links li a:hover, .bg_bistro ul.widget_links li a:focus, .bg_bistro ul.widget_links li.active a{
	color:#660761;
}

.datetimepicker-days .table-condensed thead > tr:first-child{
	background:#660761;
	color:#fff;
}
.datetimepicker thead tr:first-child th:hover{
  background: #660761;
}

/*Go to top button*/
#back-top{
  bottom:80px;
  position: fixed;
  right:25px;
  z-index:800;
  background:#660761;
  color:#fff;
  border-radius:100%;
  height:40px;
  width:40px;
  text-align:center;
  line-height:45px;
  opacity:0;
}
#back-top.show {
    opacity: 1;	
}
#back-top:hover{
  background:#da52d3cb;
  color:#fff;	
  box-shadow: -2px -2px 15px 2px rgb(255, 0, 119), 2px 2px 15px 2px blue;
}

a,
.btn-common, .btn-common-white, .button3, a,
ul.tags li a, ul.social_icon li a,
#back-top.show, #back-top:hover,
#main-navigation,#navigation.affix,
.navbar-default .navbar-nav > li > a,
.navbar-toggle .icon-bar,
.tp-tab .tp-tab-title:before,
.tparrows,  .tp-caption a.btn-common, .tp-caption a.btn-white
#service-slider .owl-prev, #service-slider .owl-next,
#cheffs-slider .owl-prev, #cheffs-slider .owl-next,
#our-cheffs .owl-prev, #our-cheffs .owl-next,
#news-slider .owl-prev, #news-slider .owl-next,
#service-slider .item .item_inner img, #service-slider .item .item_inner:hover img,
.news_thumb .image .overlay:before,
#testinomial-slider .owl-controls .owl-page span,
#testinomial-slider .owl-controls .owl-page.active span,
#testinomial-slider .owl-controls .owl-page span:after,
#testinomial-slider .owl-controls .owl-page.active span:after,
.grid_layout .item-container img, .services_wrap img,
.overlay, .overlay .social_icon,
.grid_layout .item-container .overlay a,
#gallery .item-container .overlay a.icon,
.services_wrap .overlay a,
.blog_item .blog-reply a.reply:hover, .blog_item .blog-reply a.reply:focus,
#blog-slider .owl-prev ,#blog-slider .owl-next,
.widget ul.tabs li, 
.faq_wrapper .items > li > a:hover, .faq_wrapper .items > li > a.expanded,
.service_wrapper .items > li > a:hover ,
.service_wrapper .items > li > a.expanded{
	-moz-transition: all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}



/* ============= Top Most bar ============== */
.topbar{
	background-color:#000000;
	padding:10px 0;
	color:#fff;
}
.topbar p{
	margin:0;
	display:inline-block;
	font-size:14px;
}
.topbar p > i{
	margin-right:5px;
}
.topbar p:last-child{
	text-align:right;
}

/* ============= Header =============== */
#main-navigation {
  position: fixed;
  background:transparent;
  margin-top:50px;
}
#navigation.affix {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.73);
}
#main-navigation,#navigation.affix{
  top: 0;
  width: 100%;
  z-index:999;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar , .navbar-default{
	  border:none;
}
.navbar {
  margin-bottom: 0;
  min-height: auto;
}
.navbar-collapse {
	overflow-x: visible !important;
}
.navbar-collapse.in {
	overflow-y: auto !important;
	height: auto !important;
	min-height:310px;
}
.navbar-brand {
  height: auto;
}
#main-navigation .navbar-brand{
	padding:24px 0;
}
#navigation.affix .navbar-brand{
	padding:14px 0;
}
.navbar-left {
	width:100%;
	text-align:center;
}
.navbar-left-1{
	float:left;
	width:50%;
	padding-right:60px;
	text-align:left;
}
.navbar-right-1{
	float:right;
	padding-left:60px;
	width:50%;
}
.navbar-left-1 > li{
  display: inline-block;
  float:none !important;
  text-align:left;
}
.navbar-right-1 > li{
  display: inline-block;
  float:none !important;
}
.logo-center{
  display: inline-block;
  float: none;
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width:140px;
  text-align:center;
}	
.logo-center > img{
	display:inline-block;
}

.img-ashoka {
  width: 180px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding:10px 30px;
  border-radius:30px;
  font-family: 'BebasRegular';
  line-height:inherit;
  letter-spacing:0.5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	color:#fff;
}
.navbar-default .navbar-nav > li.active > a{
	background-color:rgba(0, 0, 0, 0.56);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:hover{
	color: #660761;
	background:#fff;
}
#main-navigation .navbar-default .navbar-nav > li a{
	margin-bottom:24px;
	margin-top:24px;
}
#navigation.affix .navbar-default .navbar-nav > li a{
	margin-bottom:14px;
	margin-top:14px;
}

#fixed-collapse-navbar {
  margin-top: 10px;
}

.navbar-nav > li > .dropdown-menu{
	left:0;
	padding:0;
	border:none;
	min-width:200px;
	background-color:rgba(255, 255, 255, 0.822) !important;
}
.navbar-default .navbar-nav > li:last-child .dropdown-menu{
	left: inherit;
   right: 0;
}
.navbar-nav > li > .dropdown-menu > li > a{
	color:#0d0d0d;
	font-size:14px;
	padding:14px;
	border-bottom:1px solid #b9b9b9;
	margin:0 !important;
	
	-moz-transition:all 0.6s ease 0.1s;
  -webkit-transition:all 0.6s ease 0.1s;
  -ms-transition:all 0.6s ease 0.1s;
  -o-transition:all 0.6s ease 0.1s;
  transition:all 0.6s ease 0.1s;
}

.navbar-nav > li > .dropdown-menu > li:last-child a{
	border-bottom:none;
}
.navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background:#660761;
	color:#fff;
}

.linkRakowicka:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.linkDominikanski:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Toggle Nav transition*/
#main-navigation .navbar-toggle{
	top:10px;
}
#navigation.affix .navbar-toggle{
	top:5px;
}
.navbar-toggle{
  background: transparent !important;
  border: medium none;
  margin-right: 0;
  margin-top:15px;
}
.affix .navbar-toggle{
  margin-top:10px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  background-color:#fff !important;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity:1;
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/* ============= Header ends =============== */


/* =========== Banner ============*/
 #rev_slider_34_1 p, #rev_slider p{
	font-size:18px;
	color:#fff;
}
/*arrows Slider*/
#rev_slider_34_1 .tparrows{display:none;}
.tparrows{
  background: rgba(255, 255, 255, 0.9) !important;
  -webkit-border-radius:100%;
  border-radius:100%;
  transform:none;
  position:absolute;
  right:0;
}
.tparrows::before {
  color: #111;
  display: block;
  font-family:'FontAwesome';
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.tparrows.tp-leftarrow:before {
  content: "\f104";
}
.tparrows.tp-rightarrow:before {
  content: "\f105";
}
#rev_slider .tp-leftarrow, #rev_slider .tp-rightarrow{ top:50% !important;}
.tp-leftarrow, .tp-rightarrow{
	margin:5px;
	top:90% !important;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover,
.tparrows.tp-leftarrow:focus, .tparrows.tp-rightarrow:focus{
	background:#660761 !important;
}
.tparrows:hover::before, .tparrows:focus::before{ color: #fff; }
/*Tabs Slider*/
.tp-tabs{
  left: 50% !important;
  margin:-110px auto 0;
  -ms-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  z-index:111;
  cursor:pointer;
  border-radius: 10px;
  padding: 25px 0px 0px 50px !important;
  background: rgba(0, 0, 0, 0.35);
  top:90% !important;
  color:#fff;
}
.hesperiden .tp-tab{
	position:absolute;
	padding:0 10px;
	border-bottom:none;
}
.hesperiden .tp-tab:first-child{ padding-left:0; }
.tp-tab .tp-tab-title{
	font-size:24px;
	font-family:'BebasRegular';
	margin:10px 0 0;
	color:#ffffff;
	line-height: normal;
	letter-spacing:0.5px;
	position:relative;
	display:inline-block
}
.tp-tab .tp-tab-title:before{
	content:'';
	height:3px;
	position:absolute;
	display:inline-block;
	top:-10px;
	background:transparent;
	left:0;
	right:0;
	width:100%;
}
.tp-tab:hover .tp-tab-title, .tp-tab.selected .tp-tab-title{  color:#fff; }
.tp-tab:hover .tp-tab-title::before, .tp-tab.selected .tp-tab-title:before{  background:#660761;}
.tp-tab:hover, .tp-tab.selected{ background: transparent !important;}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
  position: static;
}


/* ============= Featured Section ============== */
.feature_wrap h3 a{ 
 font-size:18px;
 font-weight:bold;
}
.feature_wrap  p{ font-size:14px;}


/* =============== bistro backgroud Section =========== */
.bg_bistro .white_content{ margin:25px 0; }
.white_content{ color:#fff;}
.white_content i {
  font-size: 50px;
  margin-bottom: 15px;
  display: inline-block;
  overflow:hidden;
  position: relative;
  -webkit-transition:all .7s ease .1s;
  -o-transition:all .7s ease .1s;
  transition:all .7s ease .1s;
}
.white_content:hover i, .white_content:focus i{
	-webkit-transform:translateY(-15px);
	-ms-transform:translateY(-15px);
	transform:translateY(-15px);
}
.white_content h3{ margin-bottom:15px; }



/* ================== Our Services ==================*/
#services{}
#services ul.menu_widget{ margin-bottom:0px; }
#services h3{ margin-bottom:15px; margin-top:28px;}
.slider_wrap{ margin:0 -15px; }
#service-slider .item{ padding:0 15px;}
#service-slider .item .item_inner img, #service-slider .item .item_inner .image{ width:100%; position:relative; overflow:hidden; cursor:pointer}
#service-slider .item .item_inner:hover .overlay{
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
#service-slider .item .item_inner:hover h3 > a{ color:#660761; }	
#service-slider .item .item_inner img{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#service-slider .item .item_inner:hover img{
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
#service-slider .owl-prev, #service-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  top:30%;
  line-height: 39px;
  padding:0;
}
#service-slider .owl-prev, #service-slider .owl-next,
#cheffs-slider .owl-prev, #cheffs-slider .owl-next,
#our-cheffs .owl-prev, #our-cheffs .owl-next,
#news-slider .owl-prev,
#news-slider .owl-next{
  position: absolute;
  height: 42px;
  width: 42px;
  color: #111;
  font-size: 30px;
  text-align: center;
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
#service-slider .owl-prev{ left:10px;}
#service-slider .owl-next{ right:10px;}
#service-slider .owl-prev:hover, #service-slider .owl-prev:focus,
#service-slider .owl-next:hover, #service-slider .owl-next:hover{
	background:#660761;
	color: #fff;
}
/* ================== Our Services Ends ==================*/




/*================== cheffss ================== */
#cheffs{ }
.cheffs_wrap_slider{ margin:0 -20px;}
#cheffs-slider .item{ padding:0 20px; } 
#cheffs-slider .item .cheffs_photo, #cheffs-slider .item .cheffs_info{ display:table-cell;}
#cheffs-slider .item .cheffs_photo{ position:relative;}
#cheffs-slider .item .cheffs_photo > img{ height:100%; }
#cheffs-slider .item .cheffs_info{
	padding-right:15px;
	vertical-align:middle;
}
#cheffs-slider .item .cheffs_info h2{
  font-size: 60px;
  font-weight: bold;
  position: relative;
  z-index: 11;
  overflow: hidden;
}
#cheffs-slider .item .cheffs_info h2:after{
  background: #111111;
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 5;
  bottom: 9px;
  left:70px;
}
#cheffs-slider .item .cheffs_info h3,
.cheffs_wrap h3{
	color:#660761;
	margin-top:10px;
}
#cheffs-slider .item .cheffs_info small,
.cheffs_wrap small{
	color:#796e6e;
	font-size:14px;
	margin-bottom:10px;
	display:inline-block;
}
#cheffs-slider ul.social_icon{ margin-top:25px;}
#cheffs-slider ul.social_icon li a{ background:#fff; }
#cheffs-slider .owl-prev, #cheffs-slider .owl-next,
#our-cheffs .owl-prev, #our-cheffs .owl-next,
#news-slider .owl-prev,
#news-slider .owl-next{
  top: 50%;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #d9dddf;
  line-height: 33px;
  -moz-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
#cheffs-slider .owl-prev,
#our-cheffs .owl-prev, #news-slider .owl-prev{left:-60px;}
#cheffs-slider .owl-next,
#our-cheffs .owl-next, #news-slider .owl-next{right:-60px;}
#cheffs-slider .owl-prev:hover, #cheffs-slider .owl-next:hover,
#our-cheffs .owl-prev:hover, #our-cheffs .owl-next:hover,
#news-slider .owl-prev:hover,
#news-slider .owl-next:hover{
	color:#fff;
	background:#660761;
	border-color:#660761;
}
.padding_left{ padding-left:15px; }
/*================== cheffs ends ================== */



/* ================== Image With content ================== */
.info_section{
	background:url(../images/paralax-half.jpg) no-repeat;
	background-size:cover;
	width:100%;
	background-attachment:fixed;
	background-position:center center;
	background-color:#660761;
}
.right_box{ background:rgba(226,81,18,.85);}
.right_box .right_box_inner .white_content{ margin:20px 0;}


/* ================== Counters Fact Info ================== */
#facts{
	background:url(../images/bg-facts.jpg) no-repeat fixed;
	padding:6% 0;
	background-size:cover;
}
#facts .counters-item{
	padding:26% 10%;
	font-weight:bold;
	vertical-align:middle;
	color:#fff;
}
#facts .counters-item h2{
	font-family: "Open Sans", sans-serif;
	color:#660761;
}	
.counters-item i {
  font-size:50px;
  display: block;
  margin-bottom:15px;
}
.counters-item p{
	color:#fff;
	text-transform: capitalize;
	font-weight:bold;
}
/*  ================ Counters Fact Info Ends ============= */




/* ============== Latest News =============== */
.news_main{ background:#fff;}
.news_main h3{
	margin-top:15px;
	margin-bottom:10px;
	display:inline-block;
}
.news_thumb h4{ line-height:50px;}	
.news_main h3:hover{ color:#660761; }
.news_main ul.news-social{ margin:47px 0; }
.news_main ul.news-social li{ display:inline-block;}
.news_main ul.news-social li a{
	display:block;
	font-size:14px;
	color:#868686;
	margin-left:25px;
}
.news_main ul.news-social li:first-child a{ margin-left:0; }
.news_main ul.news-social li a > i{ margin-right:5px;}
.news_thumb .image, .news_thumb .image > img{ position:relative; }
.news_thumb .image > img{ width:100%; }
.news_thumb .image .overlay{
	color:#fff;
	cursor:pointer;
}
.news_thumb .image .overlay:before{
  bottom:5px;
  content: "";
  left:5px;
  opacity: 0;
  position: absolute;
  right:5px;
  top:5px;
  border: 1px solid #fff;
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
}
.news_thumb .image:hover .overlay::before{
  opacity: 1;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.news_main .col-md-6.news_thumb, .news_main .col-sm-6.news_thumb { padding-top:23px; }
.news_main .col-md-6.news_thumb img, .news_main .col-sm-6.news_thumb img{ margin-bottom:0;}
/* ============== Latest News Ends =============== */




/* ================== Testinimials ============= */
#testinomial-slider{ padding:0 10%;}
#testinomial-slider:before{
	content:'\f10d';
	color:#660761;
	font-family:'FontAwesome';
	display:inline-block;
	margin-bottom:30px;
	font-size:30px;
}
#testinomial-slider .item{ display:block; width:100%;}
#testinomial-slider .item h3{
	margin-bottom:25px;
	line-height: 32px;
}
#testinomial-slider .item p > span{ color:#7b7b7b;}
#testinomial-slider .owl-controls .owl-page span,
#testinomial-slider .owl-controls .owl-page.active span{
	background:#bbbbbb;
	filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity:1;
	position:relative;
	overflow: hidden;
	margin: 5px 3px;
}
#testinomial-slider .owl-controls .owl-page span:after{ height: 0;}
#testinomial-slider .owl-controls .owl-page span:after,
#testinomial-slider .owl-controls .owl-page.active span:after{
	content: "";
	bottom: 0;
   left: 0;
   position: absolute;
   width: 100%;
   background:#660761;
	border-radius:50%;
}
#testinomial-slider .owl-controls .owl-page span:hover::after,
#testinomial-slider .owl-controls .owl-page.active span:after{
	height: 100%;
}
/* ================== Testinimials ============= */




/* ========== Our Food ======== */
#page_header{
	background:url(../images/page-header.jpg) no-repeat;
	width:100%;
	position:relative;
	min-height:280px;
	background-size:cover;
	background-position:center center;
	text-align:right;
}
#page_header .page_title{
	padding:22px 0;
	position:absolute;
	bottom:0;
	width:100%;
}
#page_header .page_title h2.title{
	font-size:36px;
	vertical-align:top;
}
#page_header .page_title h2.title, #page_header .page_title p{ color:#fff;}
#page_header .page_title p{ margin-bottom:0;}

#welcome{ }
 ul.welcome_list{ margin-top:40px;}
ul.welcome_list li{
	width:48%;
	display:inline-block;
	font-size:18px;
	margin-bottom:15px;
	margin-left:15px;
}
ul.welcome_list li:before{
	content:'';
	background:#660761;
	height:7px;
	width:7px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	border-radius:100%;
	margin-left:-15px;
}
#our-cheffs .item{ padding:0 15px; }
.cheffs_wrap img{ width:100%;}
.cheffs_wrap p{margin:0; }
#food{}
.grid_layout .wrap-col{ padding:0 15px;}
.grid_layout .wrap-col.first{ padding-bottom:30px;}
.grid_layout .item-container img,
.services_wrap img{
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.grid_layout .item-container{ overflow:hidden; }
.overlay{
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 100%;
  left: 0;
  filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
	cursor:crosshair;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5); 
}
.overlay .overlay-inner, .overlay a.overlay-inner{
  margin: auto;
  position: absolute;
  top: 50%;
  left:50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  width: 100%;
  height: auto;
  font-size:24px;
  color:#fff;
  text-align:center;
}

a.overlay-inner > i{ font-size:30px; }
.overlay .social_icon,
.grid_layout .item-container .overlay .icon,
#gallery .item-container .overlay a.icon{
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  margin:auto;
  -moz-transform: translateY(1000%);
  -ms-transform: translateY(1000%);
  -o-transform: translateY(1000%);
  -webkit-transform: translateY(1000%);
  transform: translateY(1000%);
  z-index:9;
}
.item-container:hover .social_icon,
#gallery .item-container:hover .overlay a.icon{
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
   transform: translateY(0);
}	
.grid_layout .item-container .overlay a,
#gallery .item-container .overlay a.icon{
  color:#fff;
  font-size:30px;
}
.item-container:hover .overlay
.news_thumb .image:hover .overlay,
.popular:hover .overlay{
	filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity:1;
}
.grid_layout .item-container:hover img, .item-container:hover .overlay,
.news_thumb .image:hover .overlay, .popular:hover .overlay,
.grid_layout .item-container:hover .overlay{
	 -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
		filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity:1;
}
.popular{
	border:1px solid #e5e5e5;
	padding-bottom:10px;
}
.popular h4{ margin-top:20px;}
.popular h4, .popular .dish{ font-weight:bold;}
.popular .dish{
	display:block;
	margin:10px 0;
	color: #660761;
}

/* ========== Our Food Ends ======== */




/* ============ Gallery ========== */
.work-filter{ margin-bottom:40px;}
.work-filter li{
	display:inline-block;
	margin:0 20px;
}
.work-filter li a{
	font-size:16px;
	border-bottom:2px solid transparent;
	text-shadow: none;
   position: relative;
   padding:5px 0;
   display:block;
}
.work-filter li a:before{
	filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
	opacity:0;
}
.work-filter li a:before, .work-filter li a.active:before{
  position: absolute;
  bottom:-2px;
  left:0;
  overflow: hidden;
  width: 0;
  border-bottom: 2px solid #660761;
  color: #660761;
  content: attr(data-hover);
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition:width 0.5s;
  padding:10px 0;
}
.work-filter li a.active:before{
	filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity:1;
	width:100%;
}
.work-filter li a:hover::before,
.work-filter li.active a, .work-filter li a.active:hover::before{
   filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
  width:100%;
}
.work-filter li a:hover, .work-filter li a.active{ color: #660761;}
#gallery .work-item {
  position: relative;
  padding:0 15px;
}
#gallery .home-gallery .work-item { padding: 15px!important;}
.mix { display: none; }
#gallery .work-item img{
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
#gallery .work-item:hover img{
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
#gallery .gallery_content{
	position:relative;
	overflow:hidden;
}
#gallery .gallery_content h3{
	font-size:20px;
	color:#660761;
	margin-top:20px;
}
#gallery .gallery_content small{
	font-size:14px;
	color:#796e6e;
	margin-bottom:20px;
	display:inline-block;
}
.gallery_content a.btn-readmore{
  position: relative;
  text-shadow:none;
  text-transform:capitalize;
}
.gallery_content a.btn-readmore:before{
  color: #660761;
  content: attr(data-hover);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  top:0.5px;
  position: absolute;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  -moz-transform: scale(1.1) translateX(10px) translateY(10px);
  -ms-transform: scale(1.1) translateX(10px) translateY(10px);
  -webkit-transform: scale(1.1) translateX(10px) translateY(10px);
  transform: scale(1.1) translateX(10px) translateY(10px);
  
  -moz-transition: transform 0.3s ease 0s, all 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s, all 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s, all 0.3s ease 0s;
  transition: transform 0.3s ease 0s, all 0.3s ease 0s;
}
.gallery_content a.btn-readmore:hover::before, .gallery_content a.btn-readmore:focus::before{
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity: 1;
	 -transform: scale(1) translateX(0px) translateY(0px);
    -webkit-transform: scale(1) translateX(0px) translateY(0px);
    -ms-transform: scale(1) translateX(0px) translateY(0px);
    transform: scale(1) translateX(0px) translateY(0px);
}
.image{
	overflow: hidden;
    position: relative;
    width: 100%;
}
.image img{ width:100%; }
#gallery .work-item:hover .overlay{
  filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity: 1;
}
/* ============ Gallery Ends ========== */





/* ============= Blog ============== */
#blog{ }
#blog .blog_item{}
#blog .blog_item ul.comments, #blog .blog_item ul.social_icon{ margin:20px 0; }
#blog .blog_item ul.comments li{
	display:inline-block;
	padding:5px 10px;
	border:1px solid #c0c0c0;
	border-radius:2px;
}
#blog .blog_item ul.comments li a{
	display:block;
	color:#797979;
	font-size:12px;
}
#blog .blog_item ul.comments li a > i {
  display: inline-block;
  font-size: 13px;
  margin-right: 5px;
  vertical-align: middle;
}
#blog .blog_item ul.comments li a:hover, #blog .blog_item ul.comments li a:focus{ color:#660761;}
#blog .blog_item p{ margin-top:30px; }
#blog .blog_item h3{ margin-top:50px;}
#blog .blog_item .btn-common{
	margin-top:30px;
	/*color:#fff;*/
}
#blog-slider .owl-prev ,#blog-slider .owl-next{
	position:absolute;
	top:50%;
	height:58px;
	width:58px;
	background:#fff;
	margin:0;
	text-align:center;
	color:#c0c0c0;
	font-size:40px;
	line-height:50px;
	filter: alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
	opacity:1;
	border-radius:0;
	margin-top:-29px;
}
#blog-slider .owl-prev:hover, #blog-slider .owl-prev:focus,
#blog-slider .owl-next:hover, #blog-slider .owl-next:focus{
	background:#660761;
	color:#fff;
}
#blog-slider .owl-prev{ left:0; }
#blog-slider .owl-next{ right:0;}
ul.digits li{
	margin-top:30px;
	list-style:digits;
}
.blog_item blockquote {
  border-left: 5px solid #660761;
  font-size: 18px;
  margin:35px 0 20px;
  font-style:italic;
  padding:25px 20px;
}
.blog_item .blog-reply {
	background:#f0f5f7;
  margin: 20px 0;
  padding: 12px;
  position: relative;
}
.col-md-offset-2{ margin-left: 16.6667% !important; }
.blog_item .blog-reply span{
	color:#9e9e9e;
	font-size:14px;
	display:inline-block;
	margin-bottom:10px;
}
.blog_item .blog-reply p{ margin:0;}
.blog_item .blog-reply a, .blog_item .blog-reply a.reply{ display:inline-block;}
.blog_item .blog-reply a.reply{
	position:absolute;
	top:12px;
	right:12px;
	background:rgb(237, 142, 205);
	color:#fff;
	padding:6px 12px;
}
.blog_item .blog-reply a.reply:hover, .blog_item .blog-reply a.reply:focus{ background:#660761;}
#recipe .recipe_item{}
#recipe .recipe_item ul.welcome_list li{ font-size:15px;}
.recipe_box{
	position:relative;
	background:#660761;
	padding:20px;
	color:#fff;
}
.recipe_box:before, .recipe_box:after {
	border:1px solid rgba(255,255,255,.5);
   bottom: 10px;
   content: "";
   left:5px;
   position: absolute;
   right:5px;
   top: 10px;
   z-index: 0;
}
.recipe_box:after {
  bottom:5px;
  left: 10px;
  right: 10px;
  top:5px;
}
.recipe_box h4{ margin-bottom:20px;}
.recipe_box .table tr > td, .recipe_box .table-responsive{ border:none; }
/* ============= Blog ============== */




/* =========== SideBar =========== */
.widget ul.tabs {
  display: table;
  text-align: center;
  width: 100%;
}
.widget ul.tabs li{
	display: table-cell;
	background:#111111;
	color:#fff;
	font-size:16px;
	padding:12px 16px;
	cursor:pointer;
	position: relative;
}
.widget ul.tabs li.active,.widget  ul.tabs li:hover, .widget ul.tabs li:focus{ background:#660761; }
.widget .tab_container{ padding:15px; }
/* if accordion mode */
.widget .tab_drawer_heading.d_active { position: relative; }
.widget  .tab_drawer_heading {
  background-color: #dcdcdc;
  font-size: 17px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: block;
  position:relative;
  cursor: pointer;
}
.widget .tab_drawer_heading{ display: none;} 
.tab_content .single_comments{ margin-bottom:15px; overflow:hidden; display:table;}
.tab_content .single_comments img{
  padding-right: 10px;
  margin-top: 5px;
  width:80px;
}
.tab_content .single_comments img, .tab_content .single_comments p{ display:table-cell; }
.tab_content .single_comments p{
  margin-bottom: 0;
  font-size:16px;
  vertical-align:middle;
}
.tab_content .single_comments p:hover > a{
	color:#660761;
	text-decoration: underline;
}
.tab_content .single_comments span{
  display: block;
  margin-right: 10px;
  color:#9e9e9e;
  font-size:14px;
}
.widget{ margin-bottom:40px;}
.widget .widget_links li{margin-bottom:0;}
.widget h3{ margin-bottom:20px; }
.widget ul.widget_links li{ display:block;}
.widget ul.widget_links li:first-child a{ padding-top:0;}
.widget ul.widget_links li a{ 
	display:block; 
	border-bottom:1px solid #cfcfcf;
	padding:15px 0;
	 font-size:16px;
}
.widget ul.widget_links li a:hover, .widget ul.widget_links li a:focus{ color:#660761; }
/* =========== SideBar Ends =========== */




/* =============== Booking OR Order ============ */
.appointment_wrap{
	background:url(../images/appointment.jpg) no-repeat;
	background-size:100% 100%;
	padding-left:3%;
	padding-right:3%;
}
form.callus{ margin-top:25px;}
form.callus input.form-control{
  color: #111;
  height: 40px;
}
form.callus textarea{
  width:100%;
  min-height:160px;
  resize: none;
  padding:8px 12px;
}
form.callus textarea,form.callus input.form-control, form.callus select{
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: none;
  height: 40px;
}
form.callus .btn-submit{
  border: transparent;
  border-radius: 25px;
  background:#660761;
  color:#fff;
  cursor:pointer;
  line-height:1;
}
form.callus .btn-submit:hover{
  background:#fff;
  color:#660761;
}
.order-page form.callus .btn-submit:hover, #location form.callus .btn-submit:hover{
  background:#000000;
  color:#fff;
}
/* =============== Booking OR Order ends ============ */


/* ============ FAQ ============= */
#faq {}
.faq_wrapper {
  position: relative;
  background-color: #fff;
}
.faq_wrapper .items {}
.faq_wrapper .items > li > a{
  display: block;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left:25px;
  margin-left:3px;
  border-left:1px solid #a1a1a1;
  font-weight:bold;
  position:relative;
}
.faq_wrapper .items > li:last-child > a{ padding-bottom:0; }
.faq_wrapper .items > li > a::before{
  background: #a1a1a1;
  border: 1px solid #a1a1a1;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff inset;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right:20px;
  position: absolute;
  left:-5px;
}
.itemHover{
  color: #fff;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.faq_wrapper .items > li > a:hover{ color: #660761; }
.faq_wrapper .items > li > a.expanded{
  color: #660761;
  padding-bottom:0;
}
.faq_wrapper .items > li > a.expanded::before,
.faq_wrapper .items > li > a:hover::before{
  content: "";
  background:#660761;
  border-color:#660761;
}
.faq_wrapper  .sub-items p{ position: relative; }
.faq_wrapper .sub-items{
  display: none;
  padding-left:30px;
  padding-bottom:25px;
  padding-top:25px;
  margin-left:3px;
  border-left:1px solid #a1a1a1;
}
.faq_wrapper .items > li:last-child .sub-items{ padding-bottom:0;}
/* ============ FAQ Ends ============= */


/* ============ Menu Price ========= */
.price .price_header{
	background:#660761;
	padding:15px;
	color:#fff;
	font-size:20px;
}
.price .price_body{}
.pricing_feature li{
	font-size:16px;
	padding:20px 15px;
} 
.pricing_feature li > strong{
	float:right;
	color:#660761;
}
.pricing_feature li:nth-of-type(2n+1){ background:#fafafa; }
/* ============ Menu Price Ends ========= */


/* ================= Contact ============== */
#map, #mapTwo{ 
  width:100%;
	height:460px;
}
.search_location{
  margin: 40px auto auto;
  max-width: 100%;
  width: 500px;
  text-align:center;
}
.search_location form{ width:100%; }
.search_location .search{
  border: 1px solid #d0d0d0;
  height: 40px;
  max-width: 70%;
  width: 400px;
  padding:6px 12px;
}
.search_location #address3, .search_location button,
.search_location #address2{
	border-radius:5px;
	padding:10px 15px;
}
.search_location .find-btn{
  background:#660761;
  border: medium none;
  color: #fff;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  vertical-align: top;
}
.bistro { margin-top:30px;}

/* =============== Contact End ================= */


/* ============== Index2 =============== */
.feature{ margin:25px 0;}
.feature i{
  background: #660761;
  border: 3px solid #660761;
  border-radius: 100%;
  box-shadow: 0 0 0 3px #ffffff inset;
  color: #fff;
  display: inline-block;
  font-size:30px;
  height: 80px;
  line-height:70px;
  text-align: center;
  cursor:pointer;
  width: 80px;
  -moz-transition:background linear .3s;
  -webkit-transition:background linear .3s;
  -ms-transition:background linear .3s;
  transition:background linear .3s;
}
.feature:hover i{
  background: #111111;
  border: 3px solid #111111;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: swing;
  animation-timing-function: ease;
}
.feature h3{
	margin-bottom:15px;
	margin-top:25px;
}
.feature:hover h3{ color:#660761; }
.index2_grid .wrap-col{ padding:5px;}	
#news-slider{}
#news-slider .item{ padding:0 15px;}
#news-slider .item:hover{ cursor:pointer;}	
#news-slider .news_content{}
#news-slider .news_content img{
	width:100%;
	min-height:300px;
}
#news-slider .news_content .date_comment{
  background: #ffffff;
  border: 1px solid #660761;
  float: left;
  height:110px;
  margin: 24px 15px 0 0;
  text-align: center;
  width: 65px;
}
#news-slider .news_content .date_comment span{
	color:#fff;
	background:#660761;
	padding:15px;
	display:block;
	font-size:28px;
	line-height:20px;
}
#news-slider .news_content .date_comment span > small {
  display: block;
  font-size: 50%;
  text-transform: uppercase;
}
#news-slider .news_content .date_comment a{
  color: #797979;
  margin: 9px 0 0;
  display: inline-block;
}
#news-slider .news_content .date_comment a:hover, #news-slider .news_content .date_comment a:focus{ color: #660761;}
#news-slider .news_content .comment_text{ padding-top:25px;}
#news-slider .news_content .comment_text h3{ margin-bottom:10px;}
#news-slider .news_content .comment_text:hover h3{ color:#660761;}
/* ============== Index2 ends =============== */ 
 
 
/* ============ Order section ============= */
.order_form{
	position:relative;
	background-position:bottom right;
}
.order_section {
	background:url(../images/slide9-spices.jpg)  no-repeat fixed;
  background-position:center center;	
}
.order_section h2, .order_section p{ color:#fff; }
.order_section hr { border-color: rgba(255, 255, 255, 0.18); }
.appointment_form {}

#orderYakor {
  background: rgba(0, 0, 0, 0.37);
  padding: 20px;
  border-radius: 5px;
}

.paralax{
	background:url(../images/paralax.jpg) no-repeat fixed;
	padding:6% 0;
	background-size:cover;
	background-position:center center;
}
.paralax h2{
	font-size:40px;
	color:#fff;
	letter-spacing:0.5px;
}
.paralax .detail{
	font-size:20px;
	color:#fff;
}
/* ============ Order section ends ============= */

/* ============ Location =============== */
.locationBlock {
  display: flex;
  justify-content: center;
  align-content: center;
}

.locationItem {
  width: 100%;
  /* box-shadow: -2px -2px 15px 2px rgb(255, 0, 119), 2px 2px 15px 2px blue; */
}


/* ============== Footer =============== */
.weightContact {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
  text-align: center;
}

.contact-p {
  margin-left: 5px;
}

.imgContact {
  width: 25px;
}

.contact-element {
  margin-bottom: 10px;
}

.subscribeUs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconButton {
  display: block;
  padding: 20px;
}

.facebookBig {
  margin: 0px 10px 0px 10px;
  width: 30px;
  background: url(../images/icon/facebook.png);
  background-size: cover;
  opacity: 0.6;
}

.facebookBig:hover {
  background: url(../images/icon/facebook.png);
  background-size: cover;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.instagramBig {
  margin: 0px 10px 0px 10px;
  width: 30px;
  background: url(../images/icon/instagram.png);
  background-size: cover;
  opacity: 0.6;
}

.instagramBig:hover {
  background: url(../images/icon/instagram.png);
  background-size: cover;
  overflow: hidden;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.googleBig {
  margin: 0px 10px 0px 10px;
  width: 30px;
  background: url(../images/icon/google.png);
  background-size: cover;
  opacity: 0.6;
}

.googleBig:hover {
  background: url(../images/icon/google.png);
  background-size: cover;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.social_icon {
  float: right;
  margin-bottom: 20px;
}

.clearfix {
  margin-top: 10px;
  width: 100%;
}

.borderTopLine {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px){
  .footerContent {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px){
  .footerContent {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    /* margin-bottom: 20px; */
  }

  .contacts {
    margin-bottom: 50px;
  }

  .weightContact {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  .subscribeUs {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
  }

  .copyright {
    border: none;
  }
}

footer{color:#fff; }
.footer_column{ padding-bottom:40px; }
footer p{ font-size:14px; }
.footer_column ul.widget_links li{ width:48%; }
.footer_column p.icon, .footer_column p.address{ margin-left:25px; }
.footer_column p.icon > i, .footer_column p.address > i{
  width: 25px;
  margin-left: -25px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.footer_column p.icon > i{ margin-bottom: -5px; }
.newsletter{ margin-top:20px;}
.newsletter .form-control{
	height:40px;
	border:none;
	border-radius:30px;
}
.newsletter .btn-submit{
  background: #660761;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size:15px;
  line-height:1;
}
.bg_bistro .newsletter .btn-submit{
	background:#111111;
	color:#fff;
}
.newsletter .btn-submit:hover{
  background: #fff;
  color: #660761;
 }
footer .copyright{
	padding: 15px 0;
}
footer .copyright p{
	display: inline-block;
	float: left;
	margin: 0;
	font-size: 12px;
}
footer .copyright {
  float: left;
  margin-top: -5px;
}
/* ============== Footer ends =============== */




@media screen and (max-width: 1299px){
.navbar-default .navbar-nav > li > a {
  margin: 20px 0;
  padding: 5px 13px;
  }
}
@media screen and (max-width: 1000px){
   .padding{
	padding-bottom:60px;
	padding-top:60px;
}
.padding-top{ padding-top:60px; }
.padding-bottom{ padding-bottom:60px; }
.padding-half{
	padding-bottom:40px;
	padding-top:40px;
}
.heading_space{ margin-bottom:40px; }
.half_space{ margin-bottom:20px; }
.heading_top{ margin-top:20px; }
h2{ font-size:28px;}
h3{font-size:20px;}
h4{font-size:16px;}
p{ font-size:14px; }
.topbar p { font-size: 12px; }
.navbar-brand {
  padding: 0;
  max-width: 180px;
}
.navbar-brand > img{ width:75%; }
.navbar-default .navbar-nav > li > a { font-size: 12px; }
.rev_slider_wrapper h1.tp-caption, .rev_slider_wrapper p.tp-caption{}	
#rev_slider_34_1 .tparrows{ display: block; }
.tp-tabs{ display:none;}
.paralax h2 { font-size:30px;} 
.paralax .detail { font-size:15px;} 
#order-form .col-md-12{ text-align:center; }
#cheffs-slider .item .cheffs_photo, #cheffs-slider .item .cheffs_info{ display:block; }
#cheffs-slider .item .cheffs_info{ margin-bottom:20px; }  
#cheffs-slider .item .cheffs_photo > img{
	display:block;
	width:100%;
}
#cheffs-slider .owl-prev,
#our-cheffs .owl-prev, #news-slider .owl-prev{ left:0; }
#cheffs-slider .owl-next,
#our-cheffs .owl-next, #news-slider .owl-next{ right:0;}
.work-filter li a { font-size: 14px;}
#page_header .page_title h2.title {font-size: 26px;}
#welcome ul.welcome_list li{font-size: 12px; } 
.tab_content .single_comments p { font-size: 14px; }
.tab_content .single_comments p > a:hover{
	text-decoration:underline;
	color:#660761;
}
.widget ul.widget_links li a {
  font-size: 14px;
  padding: 15px 0;
}
.faq_wrapper .items > li > a{ font-size:16px;}
#map, #map2{ height: 290px;}
footer p, .footer_column ul.widget_links li a{ font-size: 13px; }
.order_form{ background:none;}
}

@media screen and (max-width: 767px){
h2{ font-size:26px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{font-size:12px;}
.topbar{ display:none; }
.topbar p{ font-size: 10px;}
.topbar  p.pull-left{ display:none; }  
.topbar p{float:none !important;}
.topbar p:last-child{ text-align:center; display:block; }	

#main-navigation {
  position: relative;
  background:rgba(0, 0, 0, 0.73);
  margin: 0px;
}

#navigation.affix {
  position: relative;
  background:rgba(0, 0, 0, 0.73);
}

#navigation.affix-top {
  background:rgba(0, 0, 0, 0.73);
}

.logo-center {
  float: left;
  left: auto;
  position: relative;
  top: auto;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
}
.navbar-left-1, .navbar-right-1{
  display: block;
  float: none;
  width: 100%;
  padding:0;
}
.navbar-left-1 li{ text-align:left; }
.navbar-default .navbar-nav > li > a{
  margin: 5px 0 !important;
  padding: 10px 15px;
  text-align:left;
}
.navbar-nav > li > .dropdown-menu{
	background-color:transparent !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	border:none;
	color:#fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	background:transparent;
}
.rev_slider_wrapper p, .rev_slider p{ display:none; }
.rev_slider_wrapper a, .rev_slider a{
	line-height:1.5 !important;
	font-size:12px !important;
}
#rev_slider .tparrows {
  height: 24px;
  width: 24px;
}
#rev_slider .tparrows:before{
  font-size: 20px;
  line-height: 24px;
}
#rev_slider .tp-rightarrow.tparrows, #rev_slider .tp-leftarrow.tparrows{
	bottom: 20px !important;
	top: auto !important;
}	
#rev_slider .tp-rightarrow.tparrows{ right: 0 !important; }
#rev_slider .tp-leftarrow.tparrows {
  left: auto !important;
  right: 65px !important;
}
#facts, .info_section, .paralax{ background-position:center center !important;}
#facts .number-counters > .col-xs-12{ width:50%;}	
#cheffs-slider .item .cheffs_info{
  display:none;
  top:0;
  left:20px;
  position: absolute;
  background: rgba(255,255,255,.9);
  z-index: 1;
  height: 100%;
  width: auto;
  padding: 15px;
  right: 20px;
  text-align:center;
  -webkit-transition:all 0.4s linear;
  -moz-transition:all 0.4s linear;
  -ms-transition:all 0.4s linear;
  -o-transition:all 0.4s linear;
  transition: all 0.4s linear;
}
#cheffs-slider .item:hover .cheffs_info , #cheffs-slider .item:focus .cheffs_info{
  display: block;
  bottom:0;
}
#cheffs-slider .item .cheffs_info h2::after{ display:none; }
.news_main{ margin-left:-15px; margin-right:-15px; }
.news_main .col-md-6.news_thumb, .news_main .col-sm-6.news_thumb{ padding-top: 0; }	
#page_header{ min-height:220px;}
#page_header .page_title h2.title{
  font-size: 26px;
  display:block;
  margin-bottom:15px;
}
.grid_layout .wrap-col.first{ display: none;}
.grid_layout .wrap-col {
  padding: 0 15px 15px;
}
.work-filter li{margin:0 10px;}	
.paralax h1 {font-size: 20px;}
.pricing_feature li{ font-size:14px;}
}

@media screen and (max-width: 479px) {
  footer .copyright {
    float: left;
    margin-top: 20px;
  }
}

/* Book-table */

display-flex, .booking-content {
  display: flex;
  display: -webkit-flex; 
}

.backgroundBooking {
  background: url(../images/backgroundBT.png);
}

.navbarBooking {
  margin-top: 10px;
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }

a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; 
}

.booking-img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

.bookTitle {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  text-align: center;
  margin-bottom: 28px; }

.clear {
  clear: both; 
}

/* body {
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  background: #ffd9b0;
  font-weight: 400;
  font-family: Poppins;
  margin: 0px; } */

.mainBoking {
  padding: 115px 0;
  position: relative; }

.containerBoking {
  width: 1150px;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; }

.booking-content {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap; }

.booking-image {
  width: 58.33%;
}

.booking-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.booking-form {
  width: 41.67%;
  background: #111;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.form-radio {
  margin-bottom: 65px;
  padding-top: 20px; }
  .form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio label {
    padding-top: 4px; }
  .form-radio input + label {
    margin: 0 3px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 2px #ebebeb;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%; }
  .form-radio input:checked + label {
    background-color: #111;
    color: #FFF;
    border-color: #111;
    z-index: 1; }
  .form-radio input:focus + label {
    outline: none; }
  .form-radio input:hover {
    background-color: #111;
    color: #FFF;
    border-color: #111; }

.radio-item-list {
  margin: 0 -3px; }

.activeBook {
  position: relative;
  background: #edb77d;
  padding: 14px 1px;
  margin-right: 7px;
  margin-left: 3px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px; }
  .activeBook:after {
    position: absolute;
    content: 'Person';
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 11px;
    color: #222;
    font-weight: bold; }
  .activeBook input + label {
    margin-right: 59px; 
  }

.timeBookingSelect {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 80px;
  font-family: 'open_sansregular';
  border-radius: 0;
}

form {
  padding: 72px 70px 70px 70px; }

.form-group {
  margin-bottom: 10px;
  position: relative; }

.form-input {
  padding-top: 21px; }

.form-label {
  position: absolute;
  transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  color: #bebebe;
  left: 0;
  top: 23px; }

.form-group input {
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  padding-top: 10px;
  -webkit-appearance: none; 
}
  input:focus + .form-label, input:valid + .form-label {
    top: 1px;
    font-size: 13px;
    color: #c31d92a4; 
}

input, select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  font-family: 'open_sansregular';
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #999;
  padding: 4px 0; }
  input:focus, select:focus {
    border-bottom: 1px solid #c31d92a4; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset; }

input::-webkit-input-placeholder {
  color: #bebebe; }
input::-moz-placeholder {
  color: #bebebe; }
input:-ms-input-placeholder {
  color: #bebebe; }
input:-moz-placeholder {
  color: #bebebe; }

.submit {
  float: right;
  margin-top: 10px;
  width: auto;
  background: #c31d92a4;
  color: #fff;
  padding: 15px 43px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer; 
}

.submit:hover {
  background: #f075cbdf; 
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%;
    background: transparent; }

  .booking-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .booking-image, .booking-form {
    width: 100%; }

  .booking-image {
    order: 2;
    text-align: center; }

  .booking-form {
    order: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }

  .booking-img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%; 
  } 
}

@media screen and (max-width: 480px) {
  .radio-item {
    display: block;
    margin-bottom: 15px;
    width: 150px; }

  .active {
    padding: 7px 1px; }

  form {
    padding: 72px 40px 70px 40px; } }

/*# sourceMappingURL=style.css.map */


.dropdown-menu {
  border: 1px solid red;
  border-radius: 10px !important;
}

.plac {
  font-size: 50px;
}

.form-group input {
  height: 40px;
  /* border: 1px solid red; */
}

/* Dropdown button menu */

.navigationMenu {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.ddMenuSection {
  margin: 50px 0px 0px 0px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  color: #fff;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 55px;
  padding: 43px 25px 43px 15px;
  background-color: #660761;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

.dd-button:hover {
  background-color: #660761ce;
  transition: ease-in 0.4s;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  z-index: 999;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
